/* div{
           border: 1px solid red;
       } */
.Shopping-geeklogo > img {
  width: 200px;
}
.Shopping-geeklogo {
  text-align: center;
}
.Shopping-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Shopping-middle {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px !important;
  font-family: "Open Sans", sans-serif;
}
.Shopping-bottom {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
}
.details {
  display: flex;

  justify-content: space-between;
  background-color: #f1f1f1;
  color: #999999;
}
.details > div {
  width: 50%;
}
.details-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
}
.cart-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 30px;
}
.cart-item-image > img {
  width: 100%;
  height: 90px;
}
.cart-item-product-name {
  width: 431px;
  height: 44px;
}
.button-container {
  display: flex;
  align-items: center;
}
.button-container .form-control {
  max-width: 80px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
}
.cart-item-box {
  display: flex;
  flex-direction: column;
}
.cart-subtotal {
  display: flex;
  justify-content: space-between;
}
.checkout > button {
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
  width: 240px;
  height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.cart-items-checkbox {
  padding-top: 40px;
}
/* item added */
.itemsadd {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.details-left {
  width: 580px;
  height: 45px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.cart-subtotal-button {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.cart-item-product-whislist > button {
  background-color: transparent;
  border: none;
  padding: 5px;
  text-decoration: underline;
}
.cart-item-product-whislist > button:hover {
  color: blue;
  font-size: 15px;
}
.cart-item-product-total {
  font-weight: bold;
}
#cart-subtotal-your {
  font-weight: bold;
}
#cart-subtotal-your > span {
  color: orangered;
  font-weight: bold;
  font-size: x-large;
}
#Shopping-bottom-total {
  font-weight: bold;
}
#Shopping-bottom-total > span {
  color: orangered;
  font-weight: bold;
  font-size: x-large;
}
#Shopping-bottom-you-choose {
  color: grey;
}
#Shopping-bottom-you-choose > span {
  color: black;
  font-weight: bold;
}
#cart-subtotal-button > button {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: grey;
}
#cart-subtotal-button > button:hover {
  color: blue;
  font-size: large;
}
.cart-qty-plus {
  background-color: transparent;
  border: 1px solid grey;
}
.cart-qty-minus {
  background-color: transparent;
  border: 1px solid grey;
}
#Shopping-bottom-continue > button:hover {
  color: blue;
  font-size: large;
}
#Shopping-bottom-continue > button {
  background-color: transparent;
  border: 1px;
  color: grey;
}
.itemsadd {
  border: 1px solid grey;
  padding-top: 20px;
  margin-top: 40px;
}
.itemsadd > p {
  padding-left: 20px;
}
.cart-subtotal {
  border-top: 1px solid grey;
  padding: 10px;
}
